body{
    background-color: lightgrey;
}
.center {
    margin: 0px;
    width: 100%;
    /*background-color: lightgrey;*/
    font-family: Calibri;
}
.right {
    float: right;
    width:35%;
    background-color: white;
    border-radius: 5px;
}

.left {
    width:62%;
    margin-right: 5%;
    background-color: white;
    border-radius: 5px;
}

.row {
    font-size: 80%;
    border-bottom: 1px solid lightgrey;
    padding: 5%;
}

#add {
    float: right;
    background-color: blue;
    color: white;
    width:19%;
}
#plus {
    border-radius: 20px;
    background-color: green;
    color: white;

}
#minus {
    border-radius: 20px;
    background-color: red;
    color: white;
}
#cancel {
    border-radius: 5px;
    color: white;
    background-color: red;
}

input {
    width: 80%;
}