body{
    background-color: lightgrey;
}
.center {
    margin: auto;
    width: 100%;
    max-width: 800px;
    min-width: 500px;
    padding-top: 15%;
    /*background-color: lightgrey;*/
    font-family: Calibri;
}
.right {
    float: right;
    width:35%;
    background-color: white;
    border-radius: 5px;
}

.left {
    width:63%;
    margin-right: 5%;
    background-color: white;
    border-radius: 5px;
}

.row {
    font-size: 110%;
    border-bottom: 1px solid lightgrey;
    padding: 5%;
}
.products {
    font-size:smaller ;
    display: inline;
}
#add {
    float: right;
    background-color: blue;
    color: white;
    width:19%;

}
.plus {
    border-radius: 90px;
    background-color: green;
    color: white;
    display:inline ;

}
.minus {
    border-radius: 90px;
    background-color: red;
    color: white;
}
.sold {
    display: inline;
    margin-left: 20%;
}

button {
    border: transparent;
    padding: 2%;
    display: inline-block;
    padding-top: 1%;
    padding-bottom: 1%;
}


.cancel {
    border-radius: 5px;
    display: inline;
    color: white;
    background-color: red;
}

input {
    width: 80%;
}

.count {
    display: inline;
    margin-left: 26%;
}